 
body {
	background: white no-repeat center center fixed;
	background-color:gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;  
}

 
 
 
 